// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #3b3b3b !default;
$header-bg-color-secondary: #3b3b3b !default;

// Text
$section-headings-color: #3b3b3b !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$body-bg-color: #5d7eba !default;
$blockquote-text-color: #819198 !default;
$callout-bg-color: #fff !default;

// Borders
$border-color: #3b3b3b !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
